.navbar {
  display: flex;
  justify-content: center;
  background-color: #d0ab00;
}
.body {
  display: flex;
  justify-content: space-around;
  background-color: beige;
}
.prods {
  margin: 0;
  font-size: 1rem;
  background-color: aqua;
  width: 50%;
  text-align: center;
}
.footer {
  background-color: #d09200;
  display: flex;
  justify-content: center;
}
ul#hashtags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul#hashtags > * {
  flex: 1 1 216px;
}
